<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894433555865-04e0svev806mee7k49duf6fbig9v0t31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894433555865-04e0svev806mee7k49duf6fbig9v0t31</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>894433555865-imgqok3q84dp9itlca9vlf9pck7jhdbk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXzVXfe4apS3-p7Sn5ZD06P7DixEa5a_I</string>
	<key>GCM_SENDER_ID</key>
	<string>894433555865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.ac.iitr.mdg.appetizer</string>
	<key>PROJECT_ID</key>
	<string>appetizer-4ccdc</string>
	<key>STORAGE_BUCKET</key>
	<string>appetizer-4ccdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894433555865:ios:0d2e5b96eac7c1807c0f08</string>
	<key>DATABASE_URL</key>
	<string>https://appetizer-4ccdc.firebaseio.com</string>
</dict>
</plist>